html,body{
    height:100vh;
}
.body_background{
    background-color: black;
}
.company_name{
    color:#d4bc4e;
    font-family: 'BebasNeueRegular';
    letter-spacing: 16px;
}
.coming_soon_text{
    font-family: 'BebasNeueRegular';
    letter-spacing: 16px;
}
p{
   font-family: 'RobotoRegular';
   font-size: 12.5px;
}
.copper_color{
    background-image: url('../images/copper.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
.zinc_color{
    background-image: url('../images/zinc.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
.earth_color{
    background-image: url('../images/earth.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
.gold_color{
    background-image: url('../images/gold.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
.platinum_color{
    background-image: url('../images/platinum.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
.pannel_custom_width{
    width: 250px;
    border-color: white;
}
.pannel_custom_width>div>p.panel-block{
    color:white;
}
.body_background_image{
    background-image: url('../images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.coming_text{
    color:#21b0fe;
}
td{
    font-size:12px;
}
.prmimum_members_heading{
    margin-top: 2vh;
}
.crown{
    width:30px;
}